<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-nlbarcodescanner" version="0.0.3"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>nlscan barcode scanner plugin</name>
    <description>Cordova plugin to interface with NLSCAN barcode scanners (on Android)</description>
    <js-module name="BarcodeScanner" src="www/BarcodeScanner.js">
        <clobbers target="nlscan.plugins.barcodescanner" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BarcodeScanner">
                <param name="onload" value="true" />
                <param name="android-package"
                    value="com.cordova.plugin.nlbarcodescanner.BarcodeScanner" />
            </feature>
        </config-file>
        <source-file src="src/android/BarcodeScanner.java"
            target-dir="src/com/cordova/plugin/nlbarcodescanner/" />            
        <lib-file src="libs/android/SDK_release_v2.1.1.jar" />

        <dependency id="cordova-plugin-broadcaster" version="4.0.0" />
        
        <config-file parent="/*" target="AndroidManifest.xml">
            <protected-broadcast android:name="scan.rcv.message" />
            <uses-permission android:name="scan.rcv.message" />
        </config-file>
              
    </platform>
</plugin>